BOT_TOKEN=YOUR_BOT_TOKEN
APP_ID=YOUR_APP_KEY
PUBLIC_KEY=YOUR_PUBLIC_KEY

BOT_SYSTEM_PROMPT=YOUR_PROMPT

XTTS_API_ENDPOINT=YOUR_XTTS_ENDPOINT
XTTS_SPEAKER_WAV=YOUR_PATH_TO_WAV_FILE

LLM_API_ENDPOINT=YOUR_LLM_ENDPOINT
LLM_MODEL_NAME=YOUR_MODEL_NAME


